@{
    Layout = "_ProviderDashboardLayout";
}


<div class="row justify-content-center">

    <div class="col-10">
        <div class="d-flex my-4 justify-content-between">
            <div>
                <h3>Timesheet</h3>
            </div>
            <div>
                <button class="btn btn-outline-info" onclick="history.back()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>
                    Back
                </button>
            </div>
        </div>
        <div class="p-3 shadow-lg rounded-3">
            <div class=" d-flex align-items-center justify-content-between">
                <div id="timesheet-div" onclick="showDatePicker()" class="form-floating">
                    <input id="timesheet-datepicker" class="form-control" onchange="changedDateRange(this)" type="text" />
                    <label class="ps-2">Timesheet Date Range</label>
                </div>
                <div>
                    <button  id="finalizeTimeSheetButton" class="btn text-end btn-outline-info ">Finalize Timesheet</button>
                </div>
            </div>
        </div>
        <div class="my-3 p-3 shadow-lg rounded-3">
            <h5>Timesheet Reimbursement</h5>
        </div>
    </div>
</div>
@* <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
 *@

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" crossorigin="anonymous"></script>

<script>
    var dateValue = "";
    var startDate = new Date();
    var endDate = new Date();

    function changedDateRange(dateInput) {

        let pickerDate = $('#timesheet-datepicker').val();
        let inputDate = new Date(pickerDate);

        debugger;
        let date = inputDate.getDate();
        let month = inputDate.getMonth();
        let year = inputDate.getFullYear();

        if (date < 15) {
            startDate = new Date(year, month, 1);
            endDate = new Date(year, month, 14);
        }
        else {
            startDate = new Date(year, month, 15);
            endDate = new Date(year, month + 1, 0);
        }

        dateValue = startDate.getDate() + "/" + (startDate.getMonth() + 1) + "/" + startDate.getFullYear() + " - " + endDate.getDate() + "/" + (endDate.getMonth() + 1) + "/" + endDate.getFullYear();
        console.log(dateValue);
        $('#timesheet-datepicker').val(dateValue);
        $('#finalizeTimeSheetButton').attr("asp-route-startDate", startDate.toISOString);

    }

    $(function () {
        $('#timesheet-datepicker').datepicker();
    });

    function showDatePicker() {
        $('#timesheet-datepicker').datepicker('show');
    }

    $("#finalizeTimeSheetButton").click(function () {
        location.href = "/Provider/ProviderTimesheetView?startDateISO=" + startDate.toISOString();
    });

</script>