@{
    Layout = "_ProviderDashboardLayout";
}


<div class="row justify-content-center">

    <div class="col-10">
        <div class="d-flex my-4 justify-content-between">
            <div>
                <h3>Timesheet</h3>
            </div>
            <div>
                <button class="btn btn-outline-info" onclick="history.back()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>
                    Back
                </button>
            </div>
        </div>
        <div class="p-3 shadow-lg rounded-3">
            <div class=" row ">
                <div class="col-6">
                    <input type="date" id="dateRangePicker"/>
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-outline-info mx-3">Finalize Timesheet</button>
                </div>
            </div>
        </div>
        <div class="my-3 p-3 shadow-lg rounded-3">
            <h5>Timesheet Reimbursement</h5>
        </div>
    </div>
</div>
<script>
    
</script>