@model PatientSetupViewModel
@{
    Layout = "_login_and_forgotpassword";
    ViewData["Title"] = "SetUp Your Password";

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patient Account Setup Page</title>
    <link rel="stylesheet" href="~/css/login_page_css.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <partial name="_ValidationScriptsPartial"></partial>
    <div class="background"></div>
    <div class=" row justify-content-end container-fluid align-top">
        <div class="col-1 ">
            <button class="btn btn-outline-info" onclick="darkMode()" type="button">
                <img src="/SRS Screen Shorts/dark_mode_black_24dp.svg" class=" " alt="dark-mode-icon">
            </button>
        </div>
    </div>
    <div class="row align-middle container-fluid justify-content-center">
        <div class="container-fluid col-lg-6 col-md-7  col-sm-8 col-9">
            <div class="row">
                <img src="/SRS Screen Shorts/HalloDoc LOGO.png" class="img-fluid " alt="logo here">
            </div>
            <div class="row">
                <div style="font-size:45px;">Set Up Password</div>
            </div>
            <form method="post" asp-action="PatientAccountSetupPage" asp-controller="Guest">
                <div class="row mt-3">
                    <div class=" d-flex align-items-center form-control  mb-3 p-1">
                        <div class="form-floating">

                            <input type="text" disabled asp-for="UserName" class="form-control input_field" id="PatientProfileSetupInputUsername" placeholder=""
                                   style="border: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                            </svg>
                            <label for="PatientProfileSetupInputUsername">Username</label>
                        </div>
                        <span class="validation" asp-validation-for="@Model.UserName"> </span>
                    </div>
                    <div class="d-flex align-items-center form-control mb-3 p-1">
                        <div class="form-floating">
                            <input type="password" asp-for="Password" class="form-control input_field" id="PatientProfileSetupInputPassword" placeholder=""
                                   style="border:none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                            <label for="PatientProfileSetupInputPassword">Password</label>
                        </div>
                        <span class="validation" asp-validation-for="Password"></span>
                    </div>
                    <div class="d-flex align-items-center form-control  mb-3 p-1">
                        <div class="form-floating">
                            <input type="password" asp-for="ConfirmPassword" class="form-control input_field" id="PatientProfileSetupInputConfirmPassword" placeholder=""
                                   style="border:none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                            <label for="PatientProfileSetupInputConfirmPassword">Confirm Password</label>
                        </div>
                        <span class="validation" asp-validation-for="Password"></span>
                    </div>
                </div>

                <div class="mb-3 justify-content-center d-flex">
                    <button type="submit" class=" btn px-5 button bg-info border-0 p-2 ">
                        <span style="color:white">Set-up Password</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">

        <footer class="py-5  position-fixed bottom-0">

            <div class="justify-content-center d-flex align-items-end">
                <a href="" class="text-decoration-none"><span class=" text-muted">Terms of Conditions</span></a>
                <span class="px-2 text-muted " style="color: grey;">|</span>
                <a href="" class="text-decoration-none "><span class="text-muted">Privacy Policy</span></a>
            </div>

        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>
</html>