﻿@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "MDs On Call";

}

<div class="container-fluid">
    <div class="container " style="height:80vh !important">
        <div class="justify-content-between d-flex  container-fluid mb-2 position-relative ">
            <div class="mt-3">
                <h3> MDs On Call</h3>
            </div>
            <div>
                <a asp-action="AdminDash" class="btn btn-outline-info mt-3"> ❮  Back </a>
            </div>
        </div>
        <div class="card border-0 shadow p-4 mb-5 rounded">
            <div class="d-flex justify-content-between ps-3">

                <div class="d-flex  border border-secondary rounded align-items-center mx-sm-2 ps-2 my-2 col-3">

                    <select class="form-select border-0 shadow-none" aria-label="Default select example" id="Regions" name="accounttypeuser">
                        <option selected value="0">All Regions</option>

                        @foreach (var item in ViewBag.Regions)
                        {
                            <option value="@item.Regionid">@item.Name</option>
                        }
                    </select>

                </div>


                <div>
                    <a asp-action="ProviderScheduling" class="btn btn-info mx-2 shadow-none text-light" id="providerBtn" style="width:fit-content">
                        Calander View
                    </a>
                    <a asp-action="ReviewShift" class="btn btn-info mx-2 shadow-none text-light" id="approved" style="width:fit-content">
                        Shift For Review
                    </a>

                </div>

            </div>

            @* ---------------------------------- *@
            <div id="Partial" class="mx-0 px-0 w-100"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    FetchShift();
    $("#Regions").on("change", function () {
        FetchShift();
    });

    function FetchShift() {
        var region = $("#Regions").val();
        $.ajax({
            method: "GET",
            url: "/Admin/GetPhysiciansOnCall",
            data: { region: region },
            success: function (response) {
                if (response.code == 401) {
                    location.reload();
                }
                else {
                    $('#Partial').html(response)
                }
            },
            error: function () {
                alert("fail")
            }
        })
    }
</script>
