@model EncounterFormViewModel
@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Encounter Form";

}
<div class="container mt-4">
    <div class=" d-flex w-100 justify-content-between align-items-center container">
        <h4>Encounter Form</h4>
        <button class="btn btn-outline-info fw-bold" onclick="history.back(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#01bce9" width="15" height="15" viewBox="0 -960 960 960">
                <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
            </svg>
            <span>Back</span>
        </button>
    </div>

    <form method="post" class="shadow border rounded my-3 container d-flex flex-column shadow gap-4 p-4">
        <h2 class="text-info text-center">
            <b>
                Medical Report-Confidential
            </b>
        </h2>
        <div class="mt-3 ">
            <div class="row">
                <input asp-for="requestId" hidden />
                <div class="form-floating mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <input type="text" asp-for="FirstName" class="form-control border" id="floatingInputFirst"
                           placeholder="First Name" aria-label="First Name">
                    <label class="ms-2 " for="floatingInputFirst">First Name</label>
                    @* <span asp-validation-for="FirstName" class="validation"></span> *@
                </div>
                    <div class="form-floating col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                        <input type="text" asp-for="LastName" class="form-control border" id="floatingInputLast"
                               placeholder="Last Name" aria-label="Last Name">
                        <label class="ms-2" for="floatingInputLast">Last Name</label>
                        @*                             <span asp-validation-for="LastName" class="validation"></span>
                        *@
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <input type="text" asp-for="Location" class="form-control border" id="floatingInputFirst"
                               placeholder="Location" aria-label="Location">
                        <label class="ms-2" for="floatingInputFirst">Location</label>
                    </div>
                    @* <span asp-validation-for="Location" class="validation"></span> *@
                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating  ">
                        <input type="date" asp-for="DateOfBirth" class=" form-control border" id="floatingInputdate"
                               placeholder="Date Of Birth" aria-label="First Name">
                        <label class="ms-2" for="floatingInputdate">Date Of Birth</label>
                    </div>
                    @* <span asp-validation-for="DateOfBirth" class="validation"></span> *@
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  form-floating  ">
                        <input type="date" asp-for="Date" class=" form-control border" id="floatingInputdate"
                               placeholder="Date Of Birth" aria-label="First Name">
                        <label class="ms-2" for="floatingInputdate">Date</label>
                    </div>
                    @* <span asp-validation-for="Date" class="validation"></span> *@
                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="tel" asp-for="PhoneNo" class="phone form-control border" id="floatingInputcontact"
                               placeholder="99XXXXXXXX" aria-label="Contact Number">
                    </div>
                    @* <span asp-validation-for="PhoneNo" class="validation"></span> *@
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="email" asp-for="Email" class=" form-control border" id="floatingInputemail"
                               placeholder="Email" aria-label="Email">
                        <label class="ms-2" for="floatingInputemail">Email</label>
                    </div>
                    @* <span asp-validation-for="Email" class="validation"></span> *@
                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="IllnessHistory" class="form-control border" id="floatingInputStreet"
                               placeholder="history" aria-label="history">
                        <label class="ms-2" for="floatingInputStreet">History of present illness or injury</label>
                    </div>
                    @* <span asp-validation-for="IllnessHistory" class="validation"></span> *@
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="MedicalHistory" class=" form-control border" id="floatingInputCity" placeholder="medicalHistorty"
                               aria-label="medicalHistorty">
                        <label class="ms-2" for="floatingInputCity">Medical history</label>
                    </div>
                    <span asp-validation-for="MedicalHistory" class="validation"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="Medications" class=" form-control border" id="floatingInputState" placeholder="medications"
                               aria-label="medications">
                        <label class="ms-2" for="floatingInputState">Medications</label>
                    </div>
                    @* <span asp-validation-for="Medications" class="validation"></span> *@

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="Allergies" class="form-control border" id="floatingInputZipCode"
                               placeholder="Allergies" aria-label="Allergies">
                        <label class="ms-2" for="floatingInputZipCode">Allergies</label>
                    </div>
                    @* <span asp-validation-for="Allergies" class="validation"></span> *@

                </div>
                <div class="row mb-3">
                    <div class="col-md-4 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="Temperature" class=" form-control border" id="floatingInputroom"
                               placeholder="temp" aria-label="temp">
                        <label class="ms-2" for="floatingInputroom">Temp</label>
                    </div>
                    @* <span asp-validation-for="Temperature" class="validation"></span> *@

                    <div class="col-md-4 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="HR" class="form-control border" id="floatingInputroom"
                               placeholder="hr" aria-label="hr">
                        <label class="ms-2" for="floatingInputroom">HR</label>
                    </div>
                    @* <span asp-validation-for="HR" class="validation"></span> *@

                    <div class="col-md-4 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="RR" class="form-control border" id="floatingInputroom"
                               placeholder="rr" aria-label="rr">
                        <label class="ms-2" for="floatingInputroom">RR</label>
                    </div>
                    @* <span asp-validation-for="RR" class="validation"></span> *@

                </div>
                <div class="row mb-3">
                    <div class="col-md-4  col-sm-12 mb-3">
                        <div class="row p-0 m-0">
                            <div class="col-md-6 col-sm-6 form-floating">
                                <input type="text" asp-for="BPLow" class=" form-control border" id="floatingInputroom"
                                       placeholder="BP(Low)">
                                <label class="ms-2" for="floatingInputroom">BP(Low)</label>
                            </div>
                            @* <span asp-validation-for="BPLow" class="validation"></span> *@

                            <div class="col-md-6 col-sm-6 form-floating">
                                <input type="text" asp-for="BPHigh" class="form-control border" id="floatingInputroom"
                                       placeholder="BP(High)">
                                <label class="ms-2" for="floatingInputroom">BP(High)</label>
                            </div>
                            @* <span asp-validation-for="BPHigh" class="validation"></span> *@

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="O2" class="form-control border" id="floatingInputroom" placeholder="02">
                        <label class="ms-2" for="floatingInputroom">O2</label>
                    </div>
                    @* <span asp-validation-for="O2" class="validation"></span> *@

                    <div class="col-md-4 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="Pain" class="form-control border" id="floatingInputroom" placeholder="Pain">
                        <label class="ms-2" for="floatingInputroom">Pain</label>
                    </div>
                    @* <span asp-validation-for="Pain" class="validation"></span> *@

                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="heent" class="form-control border" id="floatingInputrelation" placeholder=" Heent">
                        <label class="ms-2" for="floatingInputrelation">Heent</label>
                    </div>
                    @* <span asp-validation-for="heent" class="validation"></span> *@

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="cv" class=" form-control border" id="floatingInputrelation" placeholder="CV">
                        <label class="ms-2" for="floatingInputrelation">CV</label>
                    </div>
                    @* <span asp-validation-for="cv" class="validation"></span> *@

                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="chest" class="form-control border" id="floatingInputrelation" placeholder="Chest">
                        <label class="ms-2" for="floatingInputrelation">Chest</label>
                    </div>
                    @* <span asp-validation-for="chest" class="validation"></span> *@

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="abd" class=" form-control border" id="floatingInputrelation" placeholder="ABD">
                        <label class="ms-2" for="floatingInputrelation">ABD</label>
                    </div>
                    @* <span asp-validation-for="abd" class="validation"></span> *@

                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="extr" class="form-control border" id="floatingInputrelation" placeholder="Extr">
                        <label class="ms-2" for="floatingInputrelation">Extr</label>
                    </div>
                    @* <span asp-validation-for="extr" class="validation"></span> *@

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="skin" class="form-control border " id="floatingInputrelation" placeholder="Skin">
                        <label class="ms-2" for="floatingInputrelation">Skin</label>
                    </div>
                    @* <span asp-validation-for="skin" class="validation"></span> *@

                </div>
                <div class="row mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" asp-for="neuro" class="form-control border" id="floatingInputrelation" placeholder="Neuro">
                        <label class="ms-2" for="floatingInputrelation">Neuro</label>
                    </div>
                    @* <span asp-validation-for="neuro" class="validation"></span> *@

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                        <input type="text" asp-for="other" class="form-control border" id="floatingInputrelation" placeholder="Other">
                        <label class="ms-2" for="floatingInputrelation">Other</label>
                    </div>
                    @* <span asp-validation-for="other" class="validation"></span> *@

                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                        <input type="text" asp-for="diagnosis" class="form-control inputs border" placeholder="name@example.com">
                        <label for="floatingInput" class="input_labels ms-2">Diagnosis</label>
                    </div>
                    @* <span asp-validation-for="diagnosis" class="validation"></span> *@

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                        <input type="text" asp-for="treatmentPlan" class="form-control inputs border" placeholder="name@example.com">
                        <label for="floatingInput" class="input_labels ms-2">Treatment Plan</label>
                    </div>
                    @* <span asp-validation-for="treatmentPlan" class="validation"></span> *@

                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                        <input type="text" asp-for="MedicationsDispensed" class="form-control inputs border" placeholder="name@example.com">
                        <label for="floatingInput" class="input_labels ms-2">Medication Dispensed</label>
                    </div>
                    @* <span asp-validation-for="MedicationsDispensed" class="validation"></span> *@

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                        <input type="text" asp-for="procedures" class="form-control inputs border" placeholder="name@example.com">
                        <label for="floatingInput" class="input_labels ms-2">Procedures</label>
                    </div>
                    @* <span asp-validation-for="procedures" class="validation"></span> *@

                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                        <input type="text" asp-for="followUps" class="form-control inputs border" placeholder="name@example.com">
                        <label for="floatingInput" class="input_labels ms-2">Follow Up</label>
                    </div>
                    @* <span asp-validation-for="followUps" class="validation"></span> *@
                </div>
                <div class="text-end">
                    @if (Model.IfExists)
                    {
                        <a class="btn-success btn" asp-action="FinalizeForm" asp-controller="Admin" asp-route-requestid="@Model.requestId">Finalize</a>
                    }
                    <button class="btn btn-info text-white" type="submit">Submit</button>
                    <button class="btn btn-danger" type="reset">Cancel</button>
                </div>

            </div>
    </form>
</div>
<script>
    $('.admin-tab').removeClass("active");
    $('#dashboard-tab').addClass("active");
</script>